body {
  background-image: url(./images/background.png);
 background-repeat: no-repeat;
  background-size: 90%;
  margin: auto;
  background-position: right top;
  width: 100%;
  background-color:  #16132E;;
  min-height: 100%;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.logo {
  width: 20%;
}

.mobile-image {
  display: none
}


@media all and (min-width:200px) and (max-width:800px) {
  body {
      background-image: none;
      width: 100%;
    
       }

       .logo {
         width: 80%;
       }
       .mobile-image {
         display: flex;
         width: 100%;
         margin-top: 80px;
         margin-left: auto;
       }
      
}